/*Estilos de fuentes*/
@font-face {
    font-family: "roboto";
    src: url("../fonts/Roboto-Medium.ttf")
    format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "archivoBlack";
    src: url("../fonts/archivoblack.ttf")
    format("truetype");
    font-style: normal;
    font-weight: normal;
}
.title{
    font-family: "archivoBlack";
    color:#202329;
    font-size:5vh;
    padding: 100px;
    background-color: white;
}

.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    
}

.containerCard{
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    background-color: #202329;
    color: white;
}
.cardData{
    width: 80vh;
    height: 48vh;
    border-radius: 20px;
    background-color: rgb(60, 62, 65);
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin:20px

}
.containerDates{
    padding:20px
}
.name{
    font-family: "roboto";
    color:white;
    font-size:2vh;
}
.gender{
    font-family: "roboto";
    color:white;
    font-size:2vh;
}
.species{
    font-family: "roboto";
    color:white;
    font-size:2vh;
}
.name:hover{
    color:rgb(241, 132, 42)
}
.gender:hover{
    color:rgb(241, 132, 42)
}
.species:hover{
    color:rgb(241, 132, 42)
}
.cardData img{
    max-width: 80%;
    border-radius: 20px;
    
}
.image:hover{
    opacity: 0.5;
}
button{
    border-style: solid;
    border-color:transparent ;
    border-radius: 10px;
    background-color:#3C3E44;
}
button:hover{
    border-radius: 10px;
    background-color: rgb(241, 132, 42);
}

.containerButtons{
    text-align: right;
    padding:20px
}

